In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
# Load the dataset
df = pd.read_csv("final_project_dataset.csv")
print(df.columns)

Index(['Dealer Code', 'Dealer Name', 'Plant Code', 'Plant Name',
       'Gate in Reference', 'Job Card Number', 'Service Category',
       'Service Type', 'Service Subtype', 'Creation Date', 'Closed Date',
       'Vehicle Sales Date', 'VIN Number', 'Vehicle Model', 'Variant Code',
       'License Plate Number', 'Point Of Contact name',
       'Point of contact Mobile', 'Customer Name', 'Customer Mobile',
       'Job Card Status', 'Mileage', 'Engine Hours', 'Invoice Number',
       'Exp Del Date & Time', 'Bill to', 'Paid Contribution',
       'Warranty Contribution', 'GW tech contribution',
       'GW tech special contribution', 'GW Commercial contribution',
       'GW Commercial special contribution', 'Dealer contribution',
       'Shortage contribution', 'Damage contribution', 'Job Description',
       'Item Number', 'Item Type', 'Material Group', 'Material Code',
       'Causal Part', 'Labour Code', 'Item Description', 'Quantity',
       'Target Quantity UoM', 'Split in Percent', 'Part Amount',
       'Labour Amount', 'CGST Amount', 'SGST Amount', 'IGST Amount',
       'Gross Amount', 'Concern Code', 'Customer voice', 'Claim Number',
       'Source_File', 'Sheet_Name'],
      dtype='object')

C:\Users\Dell\AppData\Local\Temp\ipykernel_7156\2713404775.py:2: DtypeWarning: Columns (19) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv("final_project_dataset.csv")

In [3]:
# Selecting relevant columns
columns_to_keep = ['Service Type','Creation Date','Vehicle Sales Date','Vehicle Model',
                'Mileage', 'Engine Hours','Bill to','Part Amount',
       'Labour Amount','Concern Code' ]
print(df[columns_to_keep].info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 59639 entries, 0 to 59638
Data columns (total 10 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Service Type        59585 non-null  object
 1   Creation Date       59639 non-null  object
 2   Vehicle Sales Date  59542 non-null  object
 3   Vehicle Model       59639 non-null  object
 4   Mileage             59639 non-null  int64
 5   Engine Hours        58993 non-null  float64
 6   Bill to             59639 non-null  object
 7   Part Amount         59639 non-null  float64
 8   Labour Amount       59639 non-null  float64
 9   Concern Code        59301 non-null  object
dtypes: float64(3), int64(1), object(6)
memory usage: 4.6+ MB
None

In [4]:

# Drop columns not in the list of columns to keep
df = df.drop(columns=[col for col in df.columns if col not in columns_to_keep])
print(df.columns)

Index(['Service Type', 'Creation Date', 'Vehicle Sales Date', 'Vehicle Model',
       'Mileage', 'Engine Hours', 'Bill to', 'Part Amount', 'Labour Amount',
       'Concern Code'],
      dtype='object')

In [5]:
# Checking missing values
print(df.isnull().sum())

Service Type           54
Creation Date           0
Vehicle Sales Date     97
Vehicle Model           0
Mileage                 0
Engine Hours          646
Bill to                 0
Part Amount             0
Labour Amount           0
Concern Code          338
dtype: int64

In [6]:
# Handling missing values

df.dropna(subset=columns_to_keep, inplace=True)  # Fixing inplace assignment issue
print(df.isnull().sum())
print(df.shape)

Service Type          0
Creation Date         0
Vehicle Sales Date    0
Vehicle Model         0
Mileage               0
Engine Hours          0
Bill to               0
Part Amount           0
Labour Amount         0
Concern Code          0
dtype: int64
(58539, 10)

In [7]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
Index: 58539 entries, 7 to 59638
Data columns (total 10 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Service Type        58539 non-null  object
 1   Creation Date       58539 non-null  object
 2   Vehicle Sales Date  58539 non-null  object
 3   Vehicle Model       58539 non-null  object
 4   Mileage             58539 non-null  int64
 5   Engine Hours        58539 non-null  float64
 6   Bill to             58539 non-null  object
 7   Part Amount         58539 non-null  float64
 8   Labour Amount       58539 non-null  float64
 9   Concern Code        58539 non-null  object
dtypes: float64(3), int64(1), object(6)
memory usage: 4.9+ MB
None

In [8]:

# Separating numerical and categorical columns

cat_col = ['Service Type', 'Vehicle Model','Bill to', 'Concern Code']

num_col = ['Mileage', 'Engine Hours', 'Part Amount', 'Labour Amount']

date_columns = ["Creation Date", "Vehicle Sales Date"]

In [9]:
print(df[date_columns].dtypes)

Creation Date         object
Vehicle Sales Date    object
dtype: object

In [10]:
# Convert date columns to datetime

for col in date_columns:
    df[col] = pd.to_datetime(df[col], errors='coerce')

# Drop rows with NaT in any date column
df.dropna(subset=date_columns, inplace=True)

# Print updated data types
print(df[date_columns].dtypes)

Creation Date         datetime64[ns]
Vehicle Sales Date    datetime64[ns]
dtype: object

In [11]:
df["year"]=df["Creation Date"].dt.year
df["month"]=df["Creation Date"].dt.month

In [12]:

# Check for mixed data types in each column
mixed_columns = df.apply(lambda x: len(set(x.map(type))) > 1)

# Display columns with mixed data types
print(df.columns[mixed_columns].tolist())

[]

In [13]:
from sklearn.preprocessing import LabelEncoder, OneHotEncoder

In [42]:
# Label Encoding for 'Vehicle Model' & 'Concern Code'
label_encoders = {}
for col in ['Vehicle Model', 'Concern Code']:
    le = LabelEncoder()
    df[col] = le.fit_transform(df[col])
    label_encoders[col] = le

In [44]:
print(le.classes_)

[  0   1   2   3   4   5   6   7   8   9  10  11  12  13  14  15  16  17
  18  19  20  21  22  23  24  25  26  27  28  29  30  31  32  33  34  35
  36  37  38  39  40  41  42  43  44  45  46  47  48  49  50  51  52  53
  54  55  56  57  58  59  60  61  62  63  64  65  66  67  68  69  70  71
  72  73  74  75  76  77  78  79  80  81  82  83  84  85  86  87  88  89
  90  91  92  93  94  95  96  97  98  99 100 101 102 103 104 105 106 107
 108 109 110 111 112 113 114 115 116 117 118 119 120 121 122 123 124 125
 126 127 128 129 130 131 132 133 134 135 136 137 138 139 140 141 142 143
 144 145 146 147 148 149 150 151 152 153 154 155 156 157 158 159 160 161
 162 163 164 165 166 167 168 169 170 171 172 173 174 175 176 177 178 179
 180 181 182 183 184 185 186 187 188 189 190 191 192 193 194 195 196 197
 198 199 200 201 202 203 204 205 206 207 208 209 210 211 212 213 214 215
 216 217 218 219 220 221 222 223 224 225 226 227 228 229 230 231 232 233
 234 235 236 237 238 239 240 241 242 243 244 245 246 247 248 249 250 251
 252 253 254 255 256 257 258 259 260 261 262 263 264 265 266 267 268 269
 270 271 272 273 274 275 276 277 278 279 280 281 282 283 284 285 286 287
 288 289 290 291 292 293 294 295 296 297 298 299 300 301 302 303 304 305
 306 307 308 309 310 311 312 313 314 315 316 317 318 319 320 321 322 323
 324 325 326 327 328 329 330 331 332 333 334 335 336 337 338 339 340 341
 342 343 344 345 346 347 348 349 350 351 352 353 354 355 356 357 358 359
 360 361 362 363 364 365 366 367 368 369 370 371 372 373 374 375 376 377
 378 379 380 381 382 383 384 385 386 387 388 389 390 391 392 393 394 395
 396 397 398 399 400 401 402 403 404 405 406 407 408 409 410 411 412 413
 414 415 416 417 418 419 420 421 422 423 424 425 426 427 428 429 430 431
 432 433 434 435 436 437 438 439 440 441 442 443 444 445 446 447 448 449
 450 451 452 453 454 455 456 457]

In [46]:
# One-Hot Encoding for 'Service Type' & 'Bill to'
one_hot_encoder = OneHotEncoder(sparse_output=False, drop='first')  # drop='first' to avoid multicollinearity
encoded_cols = one_hot_encoder.fit_transform(df[['Service Type', 'Bill to']])
ohe_df = pd.DataFrame(encoded_cols, columns=one_hot_encoder.get_feature_names_out(['Service Type', 'Bill to']))
print(ohe_df)

       Service Type_Breakdown  Service Type_PDI-2  \
0                         0.0                 0.0
1                         0.0                 0.0
2                         0.0                 0.0
3                         0.0                 0.0
4                         0.0                 0.0
...                       ...                 ...
58534                     1.0                 0.0
58535                     1.0                 0.0
58536                     1.0                 0.0
58537                     1.0                 0.0
58538                     1.0                 0.0

       Service Type_Refurbuishment  Service Type_Running Repair  \
0                              0.0                          1.0
1                              0.0                          1.0
2                              0.0                          1.0
3                              0.0                          1.0
4                              0.0                          1.0
...                            ...                          ...
58534                          0.0                          0.0
58535                          0.0                          0.0
58536                          0.0                          0.0
58537                          0.0                          0.0
58538                          0.0                          0.0

       Service Type_Scheduled Service  Bill to_GW  Bill to_INS  Bill to_P  \
0                                 0.0         0.0          0.0        0.0
1                                 0.0         0.0          0.0        0.0
2                                 0.0         0.0          0.0        0.0
3                                 0.0         0.0          0.0        0.0
4                                 0.0         0.0          0.0        0.0
...                               ...         ...          ...        ...
58534                             0.0         0.0          0.0        0.0
58535                             0.0         0.0          0.0        0.0
58536                             0.0         0.0          0.0        0.0
58537                             0.0         0.0          0.0        0.0
58538                             0.0         0.0          0.0        0.0

       Bill to_PAID  Bill to_RSA  Bill to_SM  Bill to_WTY
0               1.0          0.0         0.0          0.0
1               1.0          0.0         0.0          0.0
2               1.0          0.0         0.0          0.0
3               1.0          0.0         0.0          0.0
4               1.0          0.0         0.0          0.0
...             ...          ...         ...          ...
58534           1.0          0.0         0.0          0.0
58535           1.0          0.0         0.0          0.0
58536           1.0          0.0         0.0          0.0
58537           1.0          0.0         0.0          0.0
58538           1.0          0.0         0.0          0.0

[58539 rows x 12 columns]

In [16]:
# Combine both
final_df = pd.concat([df.drop(columns=['Service Type', 'Bill to']), ohe_df], axis=1)

# Print the final DataFrame
print(final_df)

      Creation Date Vehicle Sales Date  Vehicle Model   Mileage  Engine Hours  \
7        2024-09-14         2013-02-15           30.0  926872.0       26167.0
8        2024-09-14         2013-02-15           30.0  926872.0       26167.0
9        2024-09-14         2013-02-15           30.0  926872.0       26167.0
10       2024-09-14         2013-02-15           30.0  926872.0       26167.0
11       2024-09-14         2013-02-15           30.0  926872.0       26167.0
...             ...                ...            ...       ...           ...
55544           NaT                NaT            NaN       NaN           NaN
56464           NaT                NaT            NaN       NaN           NaN
56473           NaT                NaT            NaN       NaN           NaN
56485           NaT                NaT            NaN       NaN           NaN
57105           NaT                NaT            NaN       NaN           NaN

       Part Amount  Labour Amount  Concern Code    year  month  ...  \
7         45369.49            0.0          14.0  2024.0    9.0  ...
8         20261.02            0.0          14.0  2024.0    9.0  ...
9          3187.50            0.0          14.0  2024.0    9.0  ...
10        10850.85            0.0          14.0  2024.0    9.0  ...
11         6039.84            0.0          14.0  2024.0    9.0  ...
...            ...            ...           ...     ...    ...  ...
55544          NaN            NaN           NaN     NaN    NaN  ...
56464          NaN            NaN           NaN     NaN    NaN  ...
56473          NaN            NaN           NaN     NaN    NaN  ...
56485          NaN            NaN           NaN     NaN    NaN  ...
57105          NaN            NaN           NaN     NaN    NaN  ...

       Service Type_Refurbuishment  Service Type_Running Repair  \
7                              0.0                          1.0
8                              0.0                          1.0
9                              0.0                          1.0
10                             0.0                          1.0
11                             0.0                          1.0
...                            ...                          ...
55544                          0.0                          1.0
56464                          0.0                          0.0
56473                          0.0                          0.0
56485                          0.0                          0.0
57105                          0.0                          0.0

       Service Type_Scheduled Service  Bill to_GW  Bill to_INS  Bill to_P  \
7                                 0.0         0.0          0.0        0.0
8                                 0.0         0.0          0.0        0.0
9                                 0.0         0.0          0.0        0.0
10                                0.0         0.0          0.0        0.0
11                                0.0         0.0          0.0        0.0
...                               ...         ...          ...        ...
55544                             0.0         0.0          0.0        0.0
56464                             0.0         0.0          0.0        0.0
56473                             0.0         0.0          0.0        0.0
56485                             0.0         0.0          0.0        0.0
57105                             0.0         0.0          0.0        0.0

       Bill to_PAID  Bill to_RSA  Bill to_SM  Bill to_WTY
7               1.0          0.0         0.0          0.0
8               1.0          0.0         0.0          0.0
9               1.0          0.0         0.0          0.0
10              1.0          0.0         0.0          0.0
11              1.0          0.0         0.0          0.0
...             ...          ...         ...          ...
55544           1.0          0.0         0.0          0.0
56464           1.0          0.0         0.0          0.0
56473           1.0          0.0         0.0          0.0
56485           1.0          0.0         0.0          0.0
57105           1.0          0.0         0.0          0.0

[59637 rows x 22 columns]

In [54]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 58539 entries, 7 to 59638
Data columns (total 12 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Service Type        58539 non-null  object
 1   Creation Date       58539 non-null  datetime64[ns]
 2   Vehicle Sales Date  58539 non-null  datetime64[ns]
 3   Vehicle Model       58539 non-null  int64
 4   Mileage             58539 non-null  int64
 5   Engine Hours        58539 non-null  float64
 6   Bill to             58539 non-null  object
 7   Part Amount         58539 non-null  float64
 8   Labour Amount       58539 non-null  float64
 9   Concern Code        58539 non-null  int64
 10  year                58539 non-null  int32
 11  month               58539 non-null  int32
dtypes: datetime64[ns](2), float64(3), int32(2), int64(3), object(2)
memory usage: 7.4+ MB